########## Java ##########
*.class
*.jar
*.war

########## Maven ##########
target/

########## InteliJ ##########
out/
.idea/
*.iml

##############################
## OS X
##############################
.DS_Store